<h1>Q and A Forum</h1>
<div class="navibar">
  {{#link-to "index" class="inline button" }}Home{{/link-to}}
  {{#link-to "about" class="inline button" }}About{{/link-to}}
  {{#link-to "contact" class="inline button" }}Contact{{/link-to}}
</div>
<div class="container">
  {{outlet}}
</div>
